
body {
	background-image: url('http://twitter.github.com/assets/bg.png');
	background-color: #F8F9F4;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #333333;
}

a img {
	border: 0;
}


/**
 Header styles
 */
.header {
    border-bottom: 3px solid #FECA00;
    background-color: #FEFEFE;
    height: 50px;
    padding-left: 5px;
    padding-top: 5px;
    color: #555555;
    clear: both;
 }
	
.landscape {
    background-image: url("images/landscape.png");
    background-position: 0 -366px;
    border-bottom: 0 solid #AAAAAA;
    box-shadow: 0 1px 3px #CCCCCC;
    float: left;
	height: 160px;
    width: 100%;
    
   	transition: height 800ms ease-in-out;
	-webkit-transition: height 800ms ease-in-out;
	-moz-transition: height 800ms ease-in-out;
	-o-transition: height 800ms ease-in-out;
	-ms-transition: height 800ms ease-in-out;
}
.landscape:HOVER {
	height: 240px;	
}

.header .logo {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.header .options {
	padding-right: 30px;
	float: right;
}
.header .options .option {
	float: left;
	padding-top: 5px;
	margin-left: 30px;
}
.header .options p.option {
	padding-top: 8px;
	margin-left: 30px;
}
.header .options .profile-image {
	border: 2px solid #222222;
	padding: 1px;
}


.footer {
	float: left;
	clear: both;
	width: 100%;
}


/**
 Widgets
 */
.widget-content {
	text-align: center;
    background-color: #EEEEEE;
	padding: 5px;
	margin: 3px;
    float: left;
    cursor: pointer;
    height: 140px;
    width: 210px;
}
.widget {
	background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    float: left;
    margin: 10px;
    overflow: hidden;
    position: relative;
    
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}
.widget:HOVER {
    border: 1px solid #FECA00;
 	box-shadow: 0 0 2px #FECA00;
}
.widget p {
    color: #555555;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.widget .overlay {
    background-color: white;
    border-radius: 0 0 4px 4px;
    color: #777777;
    bottom: 0;
    position: absolute;
    padding-top: 8px;
    padding-left: 8px;
    height: 30px;
    width: 100%;
	
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
}
.widget .overlay:HOVER {
	height: 80px;
    padding-top: 2px;
}
.widget .overlay-container {
	padding: 10px;
	padding-top: 16px;
}
.notification {
    background-image: url("/hades/VAADIN/themes/hades-theme/images/notification.png");
    background-position: 205px 5px;
    background-repeat: no-repeat;
}
.quickdus-green {
	background-image: url("/hades/VAADIN/themes/hades-theme/images/quickdus-green.png");
    background-position: 205px 5px;
    background-repeat: no-repeat;
}





.tecsociales-panel {
    border: 1px solid #AAAAAA;
    border-top: 0px;
    border-bottom: 7px solid #FECA00;
    padding: 5px;
    background-color: #F4F6F9;
    opacity: 0.9;
    position: absolute;
    right: 35px;
    width: 300px;
    height: 14px;
    cursor: pointer;
    overflow: hidden;
    /*
    background-image: url("/hades/VAADIN/themes/hades-theme/images/notification-yellow.png");
    background-repeat: no-repeat;
    background-position: right 1px;
    */
   	transition: height 500ms ease-in-out;
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
}
.tecsociales-panel:HOVER {
    height: 355px;
}
.tecsociales-panel .news {
    background: none repeat scroll 0 0 white;
    border-top: 1px dotted #CCCCCC;
    line-height: 20px;
    margin-top: 2px;
    overflow: hidden;
    padding: 5px;
}
.tecsociales-panel .news .title {
	font-weight: bold;
}
.tecsociales-panel .news .comment {
	font-size: 12px;
}
.tecsociales-panel .news .icon {
	float: right;
}

