
body {
	background-color: #F8F9F4;
	font-family: arial;
	font-size: 12px;
}

/**
 Header styles
 */
.header {
    border-bottom: 3px solid #FECA00;
    height: 50px;
    padding-left: 5px;
    padding-top: 5px;
    color: #555555;
    font-weight: bold;
    clear: both;
 }
	
.landscape {
    background-image: url("images/landscape.png");
    background-position: 0 -366px;
    border-bottom: 0 solid #AAAAAA;
    box-shadow: 0 1px 3px #CCCCCC;
    float: left;
	height: 160px;
    width: 100%;
}

.header .logo {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.header .options {
	padding-right: 30px;
	float: right;
}
.header .options .option {
	float: left;
	padding-top: 5px;
	margin-left: 20px;
}
.header .options p.option {
	padding-top: 8px;
	margin-left: 20px;
}
.header .options .profile-image {
	border: 2px solid #222222;
	padding: 1px;
}





.footer {
	float: left;
	clear: both;
	width: 100%;
}


.widget {
	border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 10px;
    transition: all 300ms ease-in-out 0s;
    height: 115px;
    width: 230px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}
.widget:HOVER {
   	background-color: #F5F5F5;
    border: 1px solid #FECA00;
    box-shadow: 0 0px 5px #FECA00;
}
.widget p {
    color: #555555;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.widget .overlay {
	position:absolute;
	bottom:0px;
	width:100%;
	height: 0;
	background-color:black;
	opacity:0.7;
	padding-top: 10px;
	border-radius:0px 0px 10px 10px;
	color:white;
	
	transition: height 500ms ease-in-out;
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
}
.widget .overlay:HOVER {
	height: 55px;
}
.widget .overlay-container {
	padding: 10px;
}



.tecsociales-panel {
    border: 1px solid #AAAAAA;
    border-bottom: 0px;
    border-top: 7px solid #FECA00;
    padding: 5px;
    background-color: #F4F6F9;
    opacity: 0.9;
    position: absolute;
    right: 35px;
    bottom: 0;
    width: 300px;
    height: 15px;
    cursor: pointer;
    
   	transition: height 500ms ease-in-out;
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
}

.tecsociales-panel:HOVER {
    height: 350px;
}