
<div class="wrapper">

	<div class="header">
		<div location="logo" class="logo"></div>
		<div class="options">
			<p class="option">mis datos</p>
			<p class="option">cerrar sesión</p>
			<p class="option">marcela fuentes</p>
			<div class="option">
				<div location="profile-image" class="profile-image"></div>
			</div>
		</div>
	</div>
	<div class="landscape"></div>
	
	
	
	<div class="content">

		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay notification">
		    	<div class="overlay-container">
			        - 10 notificaciones nuevas <br/>
			        - respuesta issue #GAE 102
		        </div>
		    </div>
		</div>
		
		<a href="http://www.sanata.com" target="_blank">
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		</a>		
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay notification">
		    	<div class="overlay-container">
			        - 10 notificaciones nuevas <br/>
			        - respuesta issue #GAE 102
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay notification">
		    	<div class="overlay-container">
			        - 10 notificaciones nuevas <br/>
			        - respuesta issue #GAE 102
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay notification">
		    	<div class="overlay-container">
			        - 10 notificaciones nuevas <br/>
			        - respuesta issue #GAE 102
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay notification">
		    	<div class="overlay-container">
			        - 10 notificaciones nuevas <br/>
			        - respuesta issue #GAE 102
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>								
		
		
	</div>

	<div class="footer">
	</div>



	<div class="tecsociales-panel">
		<b>TecSociales</b>
		<div class="news">
			<div class="title">
				Fin de Año - Domingo 9 Dic
			</div>
			<div class="comment">
				Tecso+Asado+Pileta
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-sociales.png" />
			</div>
		</div>
		<div class="news">
			<div class="title">
				Biblioteca
			</div>
			<div class="comment">
				Nueva tanda de libros
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-tecso.png" />
			</div>
		</div>		
		
		<div class="news">
			<div class="title">
				ISO Auditoría Interna 11/2012
			</div>
			<div class="comment">
				Informe, Resultados Encuestas
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-tecso.png" />
			</div>
		</div>		
		
	</div>
	
	
</div>