
<div class="wrapper">

	<div class="header">
		<div location="logo" class="logo"></div>
		<div class="options">
			<p class="option">mis datos</p>
			<p class="option">cerrar sesión</p>
			<p class="option">marcela fuentes</p>
			<div class="option">
				<div location="profile-image" class="profile-image"></div>
			</div>
		</div>
	</div>
	<div class="landscape"></div>
	
	
	
	<div class="content">

		<a href="https://webmail.tecso.coop" target="_blank">
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/webmail-logo.png" />
		    	<p>Webmail</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		</a>
		
		<a href="http://www.google.com" target="_blank">
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay quickdus-green">
		    	<div>Carga de horas al día</div>
		    	<div class="overlay-container">
			        - Proyecto #GAE con horas faltantes <br/>
		        </div>
		    </div>
		</div>
		</a>
		
		<a href="http://jira.tecso.coop" target="_blank">
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay notification">
		    	<div>Nuevas notificaciones</div>
		    	<div class="overlay-container">
					- Tienes un nuevo proyecto asignado <br/>
					- 3 nuevos issues sin resolver
		        </div>
		    </div>
		</div>
		</a>		
		
		<a href="https://websvn.tecso.coop/" target="_blank">
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/websvn-logo.png" />
		    	<p>Web SVN</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		</a>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>		
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/google-logo.png" />
		    	<p>Google</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="/hades/VAADIN/themes/hades-theme/images/quickdus-logo.png" />
		    	<p>Quick DUS</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">
		        </div>
		    </div>
		</div>
		
		<div class="widget">
			<div class="widget-content">
				<img height="80" src="https://web.tecso.coop/cerbero/img/app/jira.png" />
		    	<p>JIRA</p>
		    </div>
		    <div class="overlay">
		    	<div class="overlay-container">

		        </div>
		    </div>
		</div>								
		
		
	</div>

	<div class="footer">
	</div>


	<div class="tecsociales-panel">
		<b>TecSociales&nbsp;&nbsp;&nbsp;&nbsp;<i>(2 mensajes nuevos)</i></b>
		<div class="news" style="background:#FFFFDA">
			<div class="title">
				Fin de Año - Domingo 9 Dic
			</div>
			<div class="comment">
				Tecso+Asado+Pileta
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-sociales.png" />
			</div>
		</div>
		<div class="news" style="background:#FFFFDA">
			<div class="title">
				Biblioteca
			</div>
			<div class="comment">
				Nueva tanda de libros
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-tecso.png" />
			</div>
		</div>		
		
		<div class="news">
			<div class="title">
				Charla y debate abierto
			</div>
			<div class="comment">
				El rol técnico en Tecso 	
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-tecso.png" />
			</div>
		</div>			

		<div class="news">
			<div class="title">
				AdE Noviembre 2012
			</div>
			<div class="comment">
				Se ha realizado el depósito del AdE Noviembre 2012
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-tecso.png" />
			</div>
		</div>			

		<div class="news">
			<div class="title">
				ISO Auditoría Interna 11/2012
			</div>
			<div class="comment">
				Informe, Resultados Encuestas
			</div>
			<div class="icon">
				<img srC="https://web.tecso.coop/cerbero/img/tecsociales-topic-tecso.png" />
			</div>
		</div>		
		
	</div>
	
	
</div>